@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui;
    color: #243e63;
}

section {
    padding: 0 32px;
}

.container {
    padding: 96px 0;
}

.row {
    /* used in nav section, header section, main section */
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    /*display: flex;*/
}

.purple {
    color: #6415ff;
}

.green {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.orange {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

h1 {
    font-size: 48px;
    color: #1a202c;
}
p {
    font-size: 18px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

.section__tag,
.section__title,
.section__para {
    text-align: center;
}

.section__tag {
    color: #6415ff;
    font-weight: 700;
    letter-spacing: 2px;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 16px 0;
}

.section__para {
    font-size: 18px;
    color: #7c8ba1;
    line-height: 1.6;
    max-width: 576px;
    margin: 0 auto;
}

.learnMore__btn {
    background-color: #6415ff;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    width: 150px;
    height: 40px;
    margin-top: 32px;
    transition: all 300ms;
}

.learnMore__btn:hover {
    background-color: rgba(80, 17, 204);
}

/* 
////
landing section
////
*/

#landing {
    padding: 0 32px;
}

.header__customers--title::before {
    background-color: #6315ff2f;
    
}

nav {
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .row {
    display: flex;
}


.nav__logo--img {
    width: 40px;
    height: 40px;
}

.logo {
    display: flex;
    align-items: center;
    
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    margin: 0 24px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

.nav__link:hover {
    color: #6415ff;
}

.nav__link:hover::after {
    /* make true our underline after hover activated */
    opacity: 1;
}

.login {
    margin-left: 48px;
}

.nav__link::after {
    /* creating the custom underline */
    content: "";
    position: absolute;
    left: 0px;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms;
    opacity: 0;
}

.nav__link--primary{
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #6415ff;
    color: white;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms;
}

.nav__link--primary::after {
    content: "";
    width: 0;
    height: 0;
}

.nav__link--primary:hover{
    background-color: rgba(80, 17, 204);
}

.header__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 40%;
}

.header__img--wrapper {
    max-width: 60%;
    display: flex;
    justify-content: flex-end;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--input:hover {
    border-color: rgba(160, 174, 192);
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px; 
    opacity: 0.5;
}



/* 

features/services section

*/

#features {
    position: relative;
}

.features_row{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 32px 24px;
}

.service__description{
    display: flex;
    flex-direction: column;
}

.feature__img--wrapper {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 100px;
    padding: 20px;
    margin-bottom: auto;
}

.feature__img {
    width: 24px; 
    height: 24px;
}

.service__description{
    margin-left: 16px;
    margin-top: 8px;
}

.feature__title {
    letter-spacing: 0.5px;
}

.feature__para {
    color: #7c8ba1;
    font-size: 16px;
    max-width: calc(768px / 3);
    margin-top: 16px;
    line-height: 2;
}

/* 
//////
QUALITY SECTION
//////
*/

.quality__description,
.quality__img--wrapper {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.quality__img--wrapper {
    margin: 0 56px;
}

.quality__description {
    margin-right: 64px;
}

#quality .section__tag,
#quality .section__title,
#quality .section__para {
    text-align: left;
}

#quality .section__title {
    letter-spacing: 1.7px;
}


.quality__img {
    border: 0.2px solid rgb(229, 231, 235);
    border-radius: 4px;
}

.quality__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 
//////
steps section
//////
*/
.steps__descriptions,
.steps__img--wrapper {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
    margin-top: 32px;
}

.steps__descriptions {
    padding: 32px 0;
    padding-left: 64px;
}

#steps .section__tag,
#steps .section__title {
    text-align: left;
}


.step__number {
    font-size: 36px;
    color: #cbd5e0;
    font-weight: 600;
    letter-spacing: 1.3px;
    margin-right: 24px;
}

.num1 {
    margin-right: 32px;
}

.step__title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.step__para {
    color: #718096;
    font-size: 14px;
    margin-top: 12px;
    font-weight: 400;
    line-height: 2;
    max-width: calc(576px / 2);
}

/*
/////////
values section
/////////
*/

#values .section__tag,
#values .section__title {
    text-align: left;
}

.values__description {
    padding: 32px 64px 32px 0;
}

.values__description,
.values__img--wrapper {
    max-width: 50%;
}

.values__para {
    text-align: left;
    color:#7c8ba1;
    font-weight: 500;
    line-height: 1.6;
}
.values__img--wrapper {
    width: 100%;
}

.values__list {
    display: flex;
    margin-top: 32px;
    margin-right: 16px;
}

.value__title{
    display: flex;
    align-items: center;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
}

.first__value {
    margin-right: 32px;
}

.value__icon--wrapper {
    width: 36px;
    height: 36px;
    padding: 8px 0 0 8px;
    border-radius: 100px;
    background-color: pink;
}

.first__value .value__icon--wrapper {
    background-color: lightgreen;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value__para {
    margin-top: 16px;
    font-size: 16px;
    color: #718096;
}

/*
///////
pricing section
///////
*/

#pricing .row {
    display: flex;
    flex-direction: column;
}

.plans {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.plan {
    width: 100%;
    max-width: calc(90% / 3);
    display: flex;
    flex-direction: column;
    margin: 64px 32px 0 0;
    overflow: hidden;
}

.plan__top,
.plan__middle,
.plan__bottom {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border: 0.2px solid rgb(229, 231, 235);
}

.plan__stripe {
    height: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
}

.last__stripe {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__middle--unique .plan__top,
.plan__middle--unique .plan__middle,
.plan__middle--unique .plan__bottom,
.plan__middle--unique .plan__stripe--middle {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border: 0.2px solid rgb(102, 126, 234);
}

.plan__middle--unique .plan__top {
    border-top: none;
}

.plan__middle--unique .plan__stripe--middle {
    border-bottom: none;
}

.plan__middle--unique .plan__title,
.plan__middle--unique .plan__price,
.plan__middle--unique .plan__month,
.plan__middle--unique .middle__title,
.plan__middle--unique .middle__line--text {
    color: white;
}

.plan__stripe--middle {
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    height: 8px;
}
.plan__top {
    align-items: center;
}

.plan__middle {
    align-items: center;
}

.plan__bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.plan__title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 16px;
}

.plan__price {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 4px 0;
}

.plan__month {
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #a0aec0;
    padding-top: 16px;
}

.middle__title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.7px;
}

.middle__line--text {
    margin-top: 24px;
    color: #718096;
}

.plan__btn {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0 auto;
    padding: 16px 48px;
    border-radius: 100px;
    border: none;
    transition: all 300ms ease;
}

.plan__middle--unique .plan__btn {
    color:#6415ff;
}

.plan__btn:hover {
    transform: translate(1px, -1px);
    box-shadow: 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, 
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* 
//////
testimonials
//////
*/

.testimonials__img--wrapper,
.testimonials__description {
    max-width: 50%; 
}

.testimonials__description {
    padding-left: 64px;
}


#testimonials .section__tag, 
#testimonials .section__title,
#testimonials .section__para {
    text-align: left;
    margin-left: 0px;
}

#testimonials .section__para {
    font-weight: 500;
    letter-spacing: 0.2px;
}

.testimonial__rating {
    margin-top: 40px;
    letter-spacing: 1.5px;
}

.testimonial__title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.testimonial__para {
    margin: 16px 0 40px 0;
    letter-spacing: 0.5px;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__user{
    display: flex;
    align-items: center;
}

.testimonial__user--details {
    margin-left: 24px;
}

.testimonial__user--name {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
}

.testimonial__user--occupation {
    color: #718096;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__btn {
    display: flex;
    margin: 12px;
    padding: 16px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #edf2f7;
    border: none;
}

.divider {
    width: 1px;
    height: 24px;
    background-color: lightgray;
}

/* 
////////
start section
////////
*/


.start__container {
    background-color: #6415ff; 
    border-radius: 8px;
    padding: 96px 0;
    max-width: 100%;
    margin: 0 32px;
} 

.start__row {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.start__text {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    max-width: 480px;
    letter-spacing: 0.5px;
    line-height: 1.6;
}

.start__btns {
    display: flex;
    justify-content: flex-end;
    max-width: 480px;
    width: 100%;
}

.start__btn {
    color: #f7fafc;
    background-color: transparent;
    border: 1px solid #f7fafc;
    padding: 24px 40px;
    font-size: 16px;
    border-radius: 100px;
    font-weight: bold;
}

.start__orange--btn {
    background-color: rgb(245, 101, 101);
    margin-right: 32px;
    border: none;
}

/* 
///////
footer section 
///////
*/

footer {
    background-color: #6415ff;
    padding: 96px 0;
}

.link__title,
.more__links,
.logo__name {
    color: #f7fafc;
}

.footer__divider {
    margin: 64px auto;
    height: 2px; 
    background-color: rgb(116, 44, 255);
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.link {
    display: flex;
    flex-direction: column;
    max-width: calc(100% / 5);
    align-items: flex-start;
}

.link__title{
    font-weight: bold;
    margin-bottom: 32px;
}

.more__links {
    line-height: 2;
    border-bottom: 2px solid #6415ff;
    position: relative;
    transition: all 300ms;
}

.more__links:hover {
    border-color: #f7fafc;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    height: 32px;
    width: 32px;
}

.logo__name {
    font-size: 20px;
    font-weight: 800;
    margin-left: 8px;
    letter-spacing: 1.2px;
}

.copyright {
    color: #cbd5e0;
}

.footer__links {
    display: flex;
}

.footer__link {
    font-size: 16px;
    text-align: center;
    margin-left: 16px;
    padding: 8px ;
    width: 36px;    
    border-radius: 100%;
    background-color: #f7fafc;
    transition: background-color 300ms;
}

.footer__link:hover {
    background-color: rgba(203, 213, 224);
}